numpy
scipy
tqdm
matplotlib
blender-plots
git+https://github.com/Linusnie/robust-triangulation-relaxations.git
ipympl
ipykernel
blender-notebook
opencv-python

# To read image metadata
pillow==9.5.0
pycolmap
